snippet [ "Create a pair of square brackets" i
[${1:${VISUAL}}]$0
endsnippet

snippet { "Create a pair of curly brackets" i
{${1:${VISUAL}}}$0
endsnippet

snippet < "Create a pair of <>" i
<${1:${VISUAL}}>$0
endsnippet

snippet ( "Create a pair of (" i
(${1:${VISUAL}})$0
endsnippet
