snippet snap "Snapshot commit message"
[SNAP] ${1:MESSAGE TITLE}

${2:DETAILED MESSAGE}
endsnippet

snippet luw "Logical unit of work commit message"
[LUW] ${1:MESSAGE TITLE}

${2:DETAILED MESSAGE}
endsnippet
