snippet sig "insert my signature"

Kris

---
Kris Ezra, PhD
Research Scientist II
Purdue Technology Center, Suite D2-300
3000 Kent Avenue
West Lafayette, IN 47906
Office:  (765) 231-6924    Cell:  (574) 242-0556
endsnippet
