snippet note "Create a new note template" b
# ${1:`!v toupper(expand("%:h:t"))`} Meeting Notes `!v strftime("%F")`
Attend: KE, $2

## Notes
* $3

## Action Items
endsnippet

# post_jump "if snip.tabstop==2: vim.command('Ztag')"
snippet zet "Create a zettelkasten note" b
# ${1:TITLE}

# TAGS NONE

${2:NOTE TEXT}
endsnippet

snippet zetshort "Create a zettelkasten note without title" b

# TAGS NONE

${1:NOTE TEXT}
endsnippet
