snippet note "Create a new note template" b
# ${1:`!v toupper(expand("%:h:t"))`} Meeting Notes `!v strftime("%F")`
Attend: KE, $2

## Notes
* $3

## Action Items
endsnippet

# post_jump "if snip.tabstop==3: vim.command('Ztag')"
snippet zet "Create a zettelkasten note" b
# ${1:TITLE}

# TAGS $3

${2:NOTE TEXT}

# RELATED $4
endsnippet

snippet zetshort "Create a zettelkasten note without title" b

# TAGS $2

${1:NOTE TEXT}

# RELATED $3
endsnippet
